body {
  background-color: rgb(54, 54, 54);
}

.phrases {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black,
    0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  display: flex;
  flex-direction: column;
  width: 41vw;
  align-items: center;
}
